<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Query</title> 
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>

    <script>
      $(function () 
      {
        {% for val in name %}

          $('#main').append('<div id={{loop.index}} class = "mine" style = "width: 350px; height: 350px; diplay:inline">');
          
          var hc = 
          {
            chart: {
                type: '{{ val[1]|safe }}'
            },
            title: {
                text: 'Chart'
            },
            xAxis: {
                type: 'linear',
                title: {
                    text: '{{ val[2]|safe }}'
                }
            },
            yAxis: {
                type: 'linear',
                min: 0,
                title: {
                    text: '{{ val[3]|safe }}'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [
            {% for serie in val[0] %}
            {
                name: "{{ serie['name']|safe}}",
                data: {{ serie['data']|safe}}
            },
            {% endfor %}
            ]
        }

        $('#{{loop.index}}').highcharts(hc);
        {% endfor %}
        
      });
    </script>
</head>
 
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/userHome">User Home</a>
                    </li>
                    <li role="presentation" class="active"><a href="/showAddQuery">Add Query</a>
                    </li>                
                </ul>
            </nav>
            <h2 class="text-muted"><a href="/" style="text-decoration: none;">Periscope.io</a></h2>    
        </div>
        
        <!-- Form Adds Here -->
        <section>
            <!-- a post call is made to /addWish when we click Run on the query -->
            <form class="form-horizontal" method="post" action="/showAddQuery">
                <fieldset>
                    <!-- Form Name -->
                    <legend>Add Query</legend>
                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtPost">Post</label>
                        <div class="col-md-4">
                            <textarea class="form-control" id="txtPost" name="inputQuery"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="chartType">Chart Type</label>
                        <br>
                        <div class="col-md-4">
                            <select name="chartType">
                                <option value="line" selected="selected">Line</option>
                                <option value="bar">Bar</option>
                                <option value="column">Column</option>
                                <option value="area">Area</option>
                                <option value="scatter">Scatter</option>
                            </select>
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Run" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </section>

        <div id = "main">

        </div>

    </div>
</body>

</html>