<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Periscope.io</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
          </ul>
        </nav>
        <h2 class="text-muted"><a href="/" style="text-decoration: none;">Periscope.io</a></h2> 
      </div>

      <div class="jumbotron">
        <h1> Welcome to Periscope.io </h1>
        <br>
        <h2> Type SQL, Get Charts </h2>
        <br>
        <a href="/userHome" class = "btn btn-default btn-lg" style = "color : blue;">Get Started</a>

      </div> 
    </div>
  </body>
</html>